.search-form {
  position: relative;
  color: var(--text);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
  background-color: var(--container-bg);
  border-radius: var(--border-radius-md);
  padding: 0.4rem;
  padding-bottom: 0.65rem;
  padding-left: 0.9rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
}

.search-form--error {
  border: 1px solid var(--clr-red-500);
}

.search-form__icon {
  height: 1.25rem;
}

.search-form__input {
  width: 100%;
  color: inherit;
  font-family: inherit;
  font-size: 0.78rem;
  background-color: transparent;
  border-color: transparent;
}

.search-form__input::placeholder {
  color: inherit;
  opacity: 1;
}

.search-form__input:focus-within {
  outline: 2px dotted var(--text);
}

.search-form__btn {
  color: var(--clr-white);
  font-size: 0.85rem;
  background-color: var(--btn-bg);
  border: 0;
  padding: 0.75rem 1.04rem;
  border-radius: var(--border-radius-sm);
  transition: var(--transition-in);
}

.search-form__btn:hover {
  background-color: var(--btn-bg-hover);
}

.search-form__error-msg {
  position: absolute;
  left: 1rem;
  bottom: 0.1rem;
  font-size: 0.65rem;
  color: var(--text-error);
  transition: var(--transition-in);
}

@media screen and (min-width: 768px) {
  .search-form {
    gap: 1.3rem;
    padding: 0.6rem;
    padding-left: 2rem;
    margin-bottom: 1.5rem;
  }

  .search-form__icon {
    height: 1.5rem;
  }

  .search-form__input {
    font-size: 1.125rem;
  }

  .search-form__btn {
    font-size: 0.95rem;
    padding: 0.85rem 1.6rem;
  }
}
