.search-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
  background-color: var(--container-bg);
  border-radius: var(--border-radius-md);
  padding: 0.4rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.search-form__icon {
  padding-left: 0.5rem;
  height: 1.25rem;
}

.search-form__input {
  width: 100%;
  color: var(--text);
  font-family: inherit;
  font-size: 0.78rem;
  background-color: transparent;
  border-color: transparent;
}

.search-form__input::placeholder {
  color: inherit;
  opacity: 1;
}

.search-form__input:focus-within {
  outline: 2px dotted var(--text);
}

.search-form__btn {
  color: var(--clr-white);
  font-size: 0.85rem;
  background-color: var(--btn-bg);
  border: 0;
  padding: 0.75rem 1.04rem;
  border-radius: var(--border-radius-sm);
  transition: var(--transition-in);
}

.search-form__btn:hover {
  background-color: var(--btn-bg-hover);
}
